<!doctype html>
<html>
<head>
  {% include head2.html %}
</head>
<body>
  {%- include header2.html -%}
  <div class="container">
      <div class="content ">
        {{ content }}

      </div>

      <div class = "sidebar">
        {%- include sidebar2i.html -%}
      </div>

  </div>

  {%- include footer.html -%}

  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

{%- include playerjs.html -%}

</body>
</html>
